/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', serif;
	background-color: #C8D3D5;
}
h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Oswald', serif;
}
h3 {
	font-family: Oswald;
	font-size: 30px;
}
p {
	font-size: 20px;
	font-family: 'Times New Roman', serif;

}

img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	border: 2px solid darkolivegreen;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #6C698D;
	text-align: center;
	font-size: 18px;
	margin-bott